@font-face {
    font-family: Montserrat-Bold;
    src: url('./assets/fonts/Montserrat-Bold.ttf');

}

@font-face {
    font-family: Montserrat-Regular;
    src: url('./assets/fonts/Montserrat-Regular.ttf');

}

@font-face {
    font-family: Merriweather-Regular;
    src: url('./assets/fonts/Merriweather-Regular.ttf');

}

@font-face {
    font-family: Raleway-Regular;
    src: url('./assets/fonts/Raleway-Regular.ttf');

}


$section-caption-color: #181919;
$header-bg-color: #eff0f2;
$captions-font: Montserrat-Bold, sans-serif;
$subcaptions-font: Merriweather-Regular, sans-serif;
$description-font: Raleway-Regular, sans-serif;
$highlight: #8bc8c4;

%content-position{
  padding: 0 188px;

}

// MAIN

  *{
      margin: 0;
      padding: 0;
  
  }
  
//   html {
//     scroll-behavior: smooth;
  
//   }
  
  body {
    width: 1800px;
    margin: 0 auto;
  
  }

  header{
    height: 1005px;
    background-color: $header-bg-color;

  }

  .introduction{
    @extend %content-position;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $captions-font;
  
    .introduction__brand{
        width: 128px;
        height: 38px;
        padding-top: 5px;
        font-size: 16pt;
        border: 7px solid black;
       

        .introduction__brand_highlight{
            font-size: 20pt;
            color: $highlight;

        }


    }

    .introduction__caption{
        margin-top: 241px;
        font-size: 41pt;
        font-weight: 500;
        letter-spacing: 3.5px;
        line-height: 1.36;
        opacity: 70%;
        text-shadow: 1px 6px 13px #505050;
       
        .introduction__caption_highlight{
            background-color: $highlight;

        }

    }

    .introduction__contact{
        align-self: center;
        margin-top: 171px;
        width: 290px;
        height: 66px;
        border: 3px solid #505050;
        border-radius: 4px;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 3px;
        

    }

    .introduction__image{
        width: 153px;
        align-self: flex-end;
        position: relative;
        bottom: 46px;
        right: 62px;

    }

  }

//   main{

//   }

.about, .works, .team, .contacts{
    @extend %content-position;

}

.about__caption, .works__caption, .team__caption{
    text-align: center;
    h2{
        font-family: $captions-font;
        font-size: 36pt;
    }

    h3{
        font-family: $subcaptions-font;
        font-size: 17pt;
        font-weight: 200;
        line-height: 1.6;
        color: #5e5f5f;
    
    }

}

.about__caption{
    padding: 150px 0 175px 0;
    h3{
        letter-spacing: 1.4px;

    }

}

.description{
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 100px;
    .description__image{
        width: 490px;
        box-shadow: 1px 1px 30px #cfd1d1;

    }

    .description__aside{
        width: 600px;
        line-height: 1.58;
        h3{
            margin-bottom: 21px;
            font-family: $subcaptions-font;
            letter-spacing: 2.6px;

        }

        p{
            font-family: $description-font;
         

        }

        .description__aside_what-caption{
            font-size: 18pt;
           
        }
        
        .description__aside_what-text{
            margin-bottom: 37px;
            font-size: 16.7pt;
            
        }

        .description__aside_why-caption{ 
            font-size: 14.7pt;
            
        }

        .description__aside_why-text{ 
            font-size: 15.7pt;
            letter-spacing: 0.6px;
            
        }
    }

}

.works__caption{
    padding: 358px 0 145px 0;
    h3{
        letter-spacing: 0.7px;

    }

}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img{
        width: 463px;
        padding-bottom: 14px;

    }

}

.team__caption{
    padding: 254px 0 145px 0;
    h3{
        letter-spacing: 0.7px;

    }

}

//similar to gallery

.members{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.member {
    position: relative;

}
  
    .member__message {
        width: 90%;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        background-color: #6cf2e8;
    }

    .member__message::before {
        content: '';
    	position: absolute;
    	width: 0;
    	height: 0;
        bottom: 100%;
        right: 88%;
    	border: .75rem solid transparent;
    	border-bottom-color: #6cf2e8;
    }

    .member__image {
        width: 461px;
        padding-bottom: 18px;
    }


  .member:hover .member__image {
    opacity: 0.3;
  }
  
  .member:hover .member__message {
    opacity: 1;
  }
  
  .text {
    background-color: #6cf2e8;
    color: #000;
    padding: 0px 45px;
    h4{
        font-size: 18pt;
        letter-spacing: 2.8px;
        font-family: Merriweather-Regular,sans-serif;
        padding: 48px 0 22px 0;
    }
    span{
        font-size: 11pt;
        font-style: oblique;
        color: #757776;
    }

    p{
        font-family: Montserrat-Regular,sans-serif;
        font-size: 14.1pt;
        line-height: 1.7;
        padding-bottom: 38px;
    }

  }

  .text__social{
    width: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; //similar
    padding-bottom: 57px;

    img{
        height: 16px;
    }

}


.contacts{
    height: 728px;
    display: flex;
    justify-content: space-between;
    padding-top: 370px;
    font-family: Raleway-Regular, sans-serif;
    background-position: 50% 100%; 
    background-size: 100% 107%; 
    opacity: 0.9;
    color: #c1c5c9;
  

    .contacts__form{
        padding: 22px 41px 0 40px;
        width: 682px;
        height: 551px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #01121d;
        opacity: 0.9;
  

        input{
            font-size: 19.8pt;
            background: none;
            outline: 0;
            border-width: 0 0 2px;
            padding: 22px 0 18px 0;
            border-color: #b7bcc0;
            color: #c1c5c9;
            opacity: 1;
        }

        ::placeholder {
            color:  #c1c5c9;
            font-size: 14pt;
        
        }

        .contacts__form_message{
            height: 172px;
            padding-bottom: 102px;

        }

        .contacts__form_send{
            font-family: $captions-font;
            font-size: 16pt;
            margin-top: 46px;
            width: 301px;
            height: 64px;
            background-color: #6eeee4;
            border: none;
            border-radius: 6px;
            letter-spacing: 3px;
         
        }

    }

    .contacts__address{
        font-size: 14pt;
        padding: 38px 105px 0 40px;
        width: 482px;
        background-color: #01121d;
        opacity: 0.9;

        li{
            list-style-type: none;
            padding-bottom: 9px;
        }

        .contacts__address_web{
            margin-top: 30px;
            
        }

    }
    .contacts__address_map{
        padding: 17px 0 23px 29px;
        background-color: #01121d;
        opacity: 0.9;
        img{                    /// change here img !
            width: 569px;
            height: 284px;
        }
        
    }

}

.socials{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    .socials h2{


    }
}



  
  















